#canvas {
  display: block;
}
header {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2vw;
}
header > div {
  margin: 5px 10px;
}
.index:hover {
  background: grey;
}
